# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# NuGet
*.nupkg
# The packages folder can be ignored if you have package restore enabled
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/repositories.config

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Tye
.tye/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Secrets
appsettings.*.json
!appsettings.json
secrets.json

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# Coverage
*.coverage
*.coveragexml
*.opencover.xml

# Others
*.dbmdl
*.bak
*.mdf
*.ldf
